@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Nova+Mono|Montserrat');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
    height: 100vh;
    width: 100%;
    font-family: "Montserrat";
}